<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/customPage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <title>Breaking Bad Quotes Picker</title>
  </head>
  <body>
    <img id="backButton" src="images/arrow.svg" alt="back button" onclick="window.location.href='/'">
    <div class="hero">
      <h2>Choose your cast</h2>
      <div class="container">
        <div class="listImage">
          <form action="/customItem" method="post">
            <% authorList.forEach(element => { %>
              <button type="submit" name="author" value="<%=element%>" class="btn-link">
                <img class="<%=element%> item" src="images/<%=element%>.png" alt="<%=element%> image"/>
              </button>                      
              <%}); %>
          </form>                      
        </div>
      </div>
    </div>
    <div id="copyright">Made by <a href="https://github.com/amridika" target="_blank">Amri Dika</a></a></div>

  </body>
</html>
